#container{
    display:flex;
    justify-content:center;
    flex-direction: row;
    border: 2px solid black;
    height: 200px;
    flex-wrap:wrap;
    align-items: center;
}
.column{
    /* flex-grow: 1; */
    height: 100px;
    min-width: 100px;
    background-color: aqua;
    border: 2px dashed blue;
    padding: 3px;
}